// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.movie-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    object-position: center;
  }
  